[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
certifi = "==2022.6.15"
charset-normalizer = "==2.1.0"
django-filter = "==22.1"
django-widget-tweaks = "==1.4.12"
djangorestframework = "==3.13.1"
idna = "==3.3"
pytz = "==2022.1"
sqlparse = "==0.4.2"
urllib3 = "==1.26.9"
requests = "==2.28.1"
django = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "*"

[requires]
python_full_version = "3.10.5"
