{% extends 'base.html' %}
{% load widget_tweaks %}

{% block head %}
<title>Change Password</title>

<!-- reCAPTCHA API -->
<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>

{% endblock head %}


{% block content %}

<script>
    //global grecaptcha
    grecaptcha.ready(function() {
        grecaptcha.execute('{{recaptcha_site_key}}', {action: "change_password"}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>


<div class='position-absolute top-50 start-50 translate-middle'>
    <h4 class="text-center">Change Password:</h4>
    <p></p>
    <form method="POST" action="" novalidate>
        {% csrf_token %}

        <div>
            <h5>Password:</h5>
        </div>
        {% if form.is_bound %}
            {% if form.old_password.errors %}
                {% render_field form.old_password class="form-control is-invalid mb-3" placeholder="Old Password" %}
                {% for error in form.old_password.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% else %}
                {% render_field form.old_password class="form-control is-valid mb-3" placeholder="Old Password" %}
            {% endif %}
        {% else %}
            {% render_field form.old_password class="form-control mb-3" placeholder="Old Password" %}
        {% endif %}

        <div>
            <h5>Create a new password:</h5>
            {% if form.new_password1.help_text %}
                <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
            {% endif %}
        </div>
        
        {% if form.is_bound %}
            {% if form.new_password1.errors %}
                {% render_field form.new_password1 class="form-control is-invalid mb-2" placeholder="New password" %}
                {% for error in form.new_password1.errors %}
                    <div class=" invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% else %}
                {% render_field form.new_password1 class="form-control is-valid mb-2" placeholder="New password" %}
            {% endif %}
        {% else %}
            {% render_field form.new_password1 class="form-control mb-2" placeholder="New password" %}
        {% endif %}


        {% if form.is_bound %}
            {% if form.new_password2.errors %}
                {% render_field form.new_password2 class="form-control is-invalid mb-2" placeholder="Re-enter your new password" %}
                {% for error in form.new_password2.errors %}
                    <div class=" invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% else %}
                {% render_field form.new_password2 class="form-control is-valid mb-2" placeholder="Re-enter your new password" %}
            {% endif %}
        {% else %}
            {% render_field form.new_password2 class="form-control mb-2" placeholder="Re-enter your new password" %}
        {% endif %}
        
        <!-- reCAPTCHA input -->
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

        <div class='d-flex justify-content-between'>
            <a href="{% url 'welcome' %}" class="btn btn-outline-primary">Home page</a>
            <button type="submit" class="btn btn-primary">Change password</button>
        </div>
    </form>
</div>

{% endblock content %}
